@keyframes preload {
    from{

    }
    to{
        margin-top: -100vh;
    }
}
@keyframes preload_imgs {
    30%{
        background-image: url("../img/cam.png");
    }
    60%{
        background-image: url("../img/weDo/starMain.png");
    }
    90%{
        background-image: url("../img/weDo/headphoneMain.png");
    }
}
@keyframes headphones{
    0%{
        left: 17vw;
        top: 14vh;
        animation-timing-function: ease-in-out;
    }
    50%{
        left: 24vw;
        top: 8vh;
    }
    100%{
        left: 17vw;
        top: 14vh;
    }
}
@keyframes play {
    0%{
        left: 69.4vw;
        top: 6.75vh;
        animation-timing-function: linear;
        transform: rotateY(0deg);
    }
    50%{
        left: 65vw;
        top: 12vh;
        transform: rotateY(45deg);
    }
    100%{
        left: 69.4vw;
        top: 6.75vh;
        transform: rotateY(0deg);
    }
}
@keyframes note {
    0%{
        animation-timing-function: ease-out;
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(75deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}
@keyframes claqueta {
    0%{
        left: 71.7vw;
        top: 50vh;
        animation-timing-function: ease-in;
        transform: rotateX(0deg);
    }
    50%{
        left: 73vw;
        top: 52vh;
        transform: rotateX(45deg);
    }
    100%{
        left: 71.7vw;
        top: 50vh;
        transform: rotateX(0deg);
    }
}
@keyframes cam {
    0%{
        top: 55.3vh;
        animation-timing-function: linear;
        transform: rotateY(0deg);
    }
    50%{
        top: 47vh;
        transform: rotateY(25deg);
    }
    100%{
        top: 55.3vh;
        transform: rotateY(0deg);
    }
}
@keyframes heart {
    0%{
        filter: brightness(0.2);
        animation-timing-function: ease-in-out;
    }
    50%{
        filter: brightness(1);
    }
    100%{
        filter: brightness(0.2);
    }
}
@keyframes torus {
    0%{
        animation-timing-function: ease-out;
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(45deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
@keyframes toolTip {
    0%{
       transform: scale(0, 0);
        border-radius: 0;
        font-size: 0;
    }
    100%{
       transform: scale(1, 1);
        border-radius: 50%;
        font-size: 1vw;
    }
}
@keyframes wedoMainImg {
    0%{
        transform: scale(0, 0);
        animation-timing-function: ease-out;
    }
    80%{
        transform: scale(1.2, 1.2);
    }
    100%{
        transform: scale(1, 1);
    }
}
